.html, body {
    height: 100%;
    margin: 0;
}
.body {
   
    display: flex;
    flex-direction: column;
}

.main{
    flex:1;
}

.footer {
    background-color:brown;
    position: fixed;
    margin-top: 500px;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

/* Изменение цвета кнопки */
.btn-primary {
    background-color: #4CAF50; /* Зеленый цвет */
    border-color: #4CAF50;
}

    .btn-primary:hover {
        background-color: #45a049; /* Более темный зеленый при наведении */
        border-color: #45a049;
    }
/*Выровнять форму по центру*/
.form-group {
    margin-bottom: 15px;
}
